.card {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-radius: 0.4rem;
  color: black;
  padding: 2.4rem;
  justify-content: space-evenly;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid $theme-primary-color;
  color: $theme-primary-color;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background-color: $theme-primary-color;
    color: white;
    font-weight: 600;
  }

  @include mobile-only {
    font-size: 1rem;
    padding: 1rem;
  }
}

.cardSegment {
  width: 25%;
}
